<!DOCTYPE html>
<html>
	<head>
		<title><% $pagetitle %></title>
		<meta name='viewport' content="width=device-width, initial-scale=1" />
		<link href="" rel='stylesheet' />
	</head>
	<body>
		<!-- navigation -->
		<!-- 3 notifications, +20 reputation, new achievements -->
		<a href="#topbar"><% $navprompt %></a>
		<main>
			<article>
				<h1><% $title %></h1>
				<% $:body %>
				<footer>
					<button>Upvote</button>
					<button>Downvote</button>
					<dl>
						<div>
							<dt>Score:</dt>
							<dd><% $score %></dd>
						</div>
						<div>
							<dt>Author:</dt>
							<dd><% $author %></dd>
						</div>
					</dl>
					
				</footer>
			</article>
		</main>
		<% @topbar %>
	</body>
</html>
