/* h7–9 shouldn't appear outside posts.	*
 * However, headings should be styled as top-level within posts.	*
 * (Based on https://html.spec.whatwg.org/multipage/rendering.html .)	*/
.question h2 { margin-block-start: 0.67em; margin-block-end: 0.67em; font-size: 2.00em; }
.question h3 { margin-block-start: 0.83em; margin-block-end: 0.83em; font-size: 1.50em; }
.question h4 { margin-block-start: 1.00em; margin-block-end: 1.00em; font-size: 1.17em; }
.question h5 { margin-block-start: 1.33em; margin-block-end: 1.33em; font-size: 1.00em; }
.question h6 { margin-block-start: 1.67em; margin-block-end: 1.67em; font-size: 0.83em; }
.question h7 { margin-block-start: 2.33em; margin-block-end: 2.33em; font-size: 0.67em; }
.answer h4 { margin-block-start: 0.67em; margin-block-end: 0.67em; font-size: 2.00em; }
.answer h5 { margin-block-start: 0.83em; margin-block-end: 0.83em; font-size: 1.50em; }
.answer h6 { margin-block-start: 1.00em; margin-block-end: 1.00em; font-size: 1.17em; }
.answer h7 { margin-block-start: 1.33em; margin-block-end: 1.33em; font-size: 1.00em; }
.answer h8 { margin-block-start: 1.67em; margin-block-end: 1.67em; font-size: 0.83em; }
.answer h9 { margin-block-start: 2.33em; margin-block-end: 2.33em; font-size: 0.67em; }

/* Some headings are special. */
.question h1 { margin-block-start: 0.50em; margin-block-end: 0.50em; font-size: 2.17em; }

/* main layout */
body {
	display: grid;
	grid-template-areas:
		" topbar   topbar "
		" header   header "
		" title    title  "
		"question activity"
		"question sidebar "
		"answers  sidebar "
		"answers  sidebar "
		"answers  sidebar "
		" footer   footer ";
	/* justify-content: center; */ /* enable when other layout stuff works */
}
body > #topnav-fallback {
	grid-column: topbar-start / header-end;
	grid-row: topbar-start / header-end;
}
body > main {
	display: contents;
}
body > main > .question {
	display: contents;
}
body > main > .question > h1 {
	grid-area: title;
}
#question-activity {
	grid-area: activity;
}
#sidebar {
	grid-area: sidebar;
}
body > main > .answers {
	grid-area: answers;
}
body > footer {
	grid-area: footer;
}

/* post layout */
.post {
	display: grid;
	grid-template-areas:
		" upvote    body     body     body  "
		" score     body     body     body  "
		"downvote   body     body     body  "
		"accepted   body     body     body  "
		"   .       body     body     body  "
		"   .     actions  editline  byline "
		"   .     comments comments comments";
	grid-template-columns: min-content auto auto auto;	/* workaround FF bug */
}
.answer h3 {
	display: contents;
}
.post > footer {
	display: contents;
}
.post > footer > .up {
	grid-area: upvote;
}
.post .score {
	grid-area: score;
	justify-self: center;
	justify-content: center;
}
.post > footer > .down {
	grid-area: downvote;
}
.post .accepted {
	grid-area: accepted;
}
.post > [property~='schema:text'] {
	grid-area: body;
}
.post > footer > .post-actions {
	grid-area: actions;
}
.post > footer > .editline {
	grid-area: editline;
}
.post > footer > .byline {
	grid-area: byline;
}
.post > .comments {
	grid-area: comments;
}

/* byline / editline boxes */
.authorbox {
	display: grid;
	grid-template-areas:
		/* try elastic tabstops! */
		"license	license"
		"when	when"
		"depiction	name"
		"depiction	repstuff";
	grid-template-columns: min-content auto;
}
.byline:not(:hover, :focus, :focus-within)
	[property~='schema:license']
{
	display: none;  /* also hides from screen readers */
}
.authorbox > a[rel~='author'] {
	display: contents;
}
.authorbox [property~='schema:license'] {
	grid-area: license;
}
.authorbox .when {
	grid-area: when;
}
.authorbox img {
	grid-area: depiction;
}
.authorbox [property~='schema:name'] {
	grid-area: name;
}
.authorbox .flair {
	grid-area: repstuff;
}

/* make icons, not text */
.up, .down, .accepted, .authorbox img, .badge-count::before
{
	/* make icons */
	display: block;
	background-image: var(--spritesheet);
}
.up, .down, .accepted
{
	/* not text */
	text-indent: -4900vmax;  /* 49 times, we fought that beast	*
		(magic number: increase if insufficient)	*/
	font-size: 1px;	/* oftentimes screen readers don't like 0px.	*/
	overflow: hidden;
}
/* and the icons themselves? */
.up, .down, .accepted {
	width: 40px;
	height: 30px;
}
.up[aria-checked='false'] {
	background-position: 0px -170px;
}
.up[aria-checked='true'] {
	background-position: -40px -170px;
}
.down[aria-checked='false'] {
	background-position: 0px -220px;
}
.down[aria-checked='true'] {
	background-position: -40px -220px;
}
.accepted {
	background-position: -40px -270px;
}
.authorbox img {
	background-position: 0px -400px;
}
.badge-count::before {
	/* TODO: a better way. */
	display: inline-block;
	content: " ";
	width: 6px;
	height: 14px;
}
.badge-count.gold::before {
	background-position: -102px -398px;
}
.badge-count.silver::before {
	background-position: -82px -398px;
}
.badge-count.bronze::before {
	background-position: -62px -398px;
}
