/* These don't exist. So we must make them exist.	*
 * https://html.spec.whatwg.org/multipage/rendering.html	*/
h7, h8, h9 {
	unicode-bidi: isolate;
	display: block;
	font-weight: bold;
}
/* IE11 (not supported, but kindness never hurt anyone) */
main {
	unicode-bidi: isolate;
	display: block;
}

/* Screenreader-only (where the layout makes meaning obvious)	*
 * https://webaim.org/techniques/css/invisiblecontent/	*/
.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
